:root{
    --bg-dark:hsl(0,0%,0%);
    --bg:hsl(0,0%,5%);
    --bg-light:hsl(0,0%,10%);
    --text:hsl(0,0%,95%);
    --text-muted:hsl(0,0%,70%);
    --bg-gradient: linear-gradient(to bottom,hsl(0,0%,6%),hsl(0,0%,2%));
}

*{
  font-family: "Funnel Display", sans-serif;
  margin: 0;
  transition:color 0.2s ease,background-color 0.2s ease,border 0.2s ease;
}
body{
  height: 100vh;
  background: var(--bg-gradient);
}
header{
  display:flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--bg-light);
}
.title{
  color: var(--text);
  margin: 0.8rem 1rem 1.2rem 1.5rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn,
.signup-btn{
  font-weight: 500;
  border:0;
  padding: 0.4rem 1rem 0.6rem 1rem;
  border-radius: 5px;
  margin: 1rem;
}
.signup-btn{
  margin-right: 1.6rem;
}
.main-content{
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
  margin-bottom: 8rem;
}
.slogan{
  color: var(--text);
  margin: 4rem;
}
.menu{
  background-color: var(--bg);
  padding: 2.3rem 3rem 2.7rem 3rem;
  border-radius: 9px;
  border: solid 1px hsl(0,0%,10%);
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}
.menu>h3{
  color: var(--text);
  margin-bottom:1rem;
  text-align: center;
}
.group-code{
  border:solid 1px hsl(0,0%,20%);
  border-radius: 5px;
  color:var(--text);
  background-color: var(--bg-light);
  width: 10rem;
  height: 4ch;
  display: block;
  padding: 0rem 0.8rem;
  margin: 0.7rem;
}
.join-btn{
  color: hsl(0,0%,10%);
  border: solid 1px hsl(0, 0%, 100%);
  border-radius: 3px;
  background-color: hsl(0,0%,95%);
  padding: 0.3rem 1rem;
  width: 11.6rem;
  align-self: center;
}
.or{
  color: var(--text);
  align-self: center;
  margin: 1rem;
  font-size: 0.8rem;
}
.create-btn{
  color: hsl(0,0%,95%);
  border: solid 1px hsl(0, 0%, 30%);
  border-radius: 3px;
  background-color: hsl(0,0%,20%);
  padding: 0.5rem 1rem;
  width: 11.6rem;
  align-self: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  color:var(--text-muted);
  font-size: 0.5rem;
  padding: 0.5rem;
  position:fixed;
  bottom: 0;
  width: 100%;
}
.login-btn:hover,
.signup-btn:hover,
.join-btn:hover{
  background-color: transparent;
  border: solid 0.3px var(--text);
  color: var(--text);
}
.create-btn:hover{
  background-color: var(--text);
  color: var(--bg);
}
@media (max-width: 475px){
  .title{
    font-size: 1.5rem;
    margin: 0.8rem 0.8rem 1rem 1.2rem;
  }
  .signup-btn,
  .login-btn{
    margin: 0.2rem;
    padding: 0.3rem 0.8rem 0.5rem 0.8rem;
  }
  .slogan{
    width: 16rem;
  }
}
@media (max-width: 640px){}
@media (max-width: 768px){}
@media (max-width: 1024px){}
@media (max-width: 1280px){}
@media (max-width: 1536px){}